body {
    font-family: 'Source Serif Pro', serif;
}

.topLogo {
    font-size: 2em;
    margin-top: 4%;
}

.topLogo img {
    padding-right: 1%;
    width: 7%;
    margin-top: -1%;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
    padding: 0;
    margin: 2% 0 1% 0;
}

.navbar .nav {
   /* margin: 2% 0 -1% 0; */
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    width: 3%;
    float: none;
    padding-right: 11%;
    font-size: .9em;
}

.navbar .nav li a {
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.mainImg {
    margin: auto;
    width: 100%;
}

.footerTxt {
padding-top: 1%;
margin-left: -13%;
}

span {
    text-align: left;
    
 font-size: .9em;
 letter-spacing: 0.2em;
}

.footerImg {
   margin-top: 1%; 
}

.footer {
    margin-left: 10%;
}
.socialFooter {
    margin-top: 1%;
}




