body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

.topnav {
    background-color: #3A5D87;
}
.topLogo {
    font-size: 3em;
    color: white;
}

.topText {
    font-size: .8em;
    color: white;
}

.navitems li a {
    color: white;
}

.navitems li a:hover {
    color: #0099ff;
}
