body {
    font-family: 'Source Serif Pro', serif;
}

.topLogo {
    font-size: 2em;
    margin-top: 4%;
}

.topLogo img {
    padding-right: 1%;
    width: 7%;
    margin-top: -1%;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
    padding: 0;
    margin: 2% 0 1% 8%;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
    padding-right: 5%;
}

.navbar .nav li a {
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.mainImg {
    margin: auto;
    width: 100%;
}



