body {
    font-family: 'Source Serif Pro', serif;
}

.topLogo {
    font-size: 2em;
    margin-top: 4%;
}

.topLogo img {
    padding-right: 1%;
    width: 7%;
    margin-top: -1%;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}



.navigation {
    text-transform: uppercase;
} 